body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-image: url('img/5_background/desert-5112222_1920.png');
  background-position: center;
  font-family: "Danfo", serif;
  font-weight: 400;
  font-style: normal;

}

canvas {
  background-color: black;
  display: block;
}

h1 {
  font-size: 40px;
}

.aktion-buttons {
  width: 720px;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: -41px;
}

.aktion-buttons-container{
  display: flex;
  gap: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

button {
  padding: 6px 26px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

button:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

button:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

@media only screen and (max-width: 720px) {
  canvas{
    width: 100%;
  }
  .aktion-buttons{
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas{
    height: 100vh;
  }
  h1{
    display: none;
  }
}

