body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-image: url('img/5_background/desert-5112222_1920.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Danfo", serif;
  font-weight: 400;
  font-style: normal;

}

.start-screen-container{
    position: absolute;
    width: 720px;
    height: 480px;
    background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
    background-position: center;
    background-size: cover;
    display: flex;
}

canvas {
  background-color: black;
  display: block;
}

h1 {
  font-size: 40px;
}

.menu-buttons{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 720px;
  justify-content: space-between;
  align-items: center;
}

.top-menu{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 16px;
  padding-top: 8px;
  padding-right: 8px;
}

.middle-menu{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bottom-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left-buttons{
  padding-left: 8px;
  padding-bottom: 8px;
}

.right-buttons{
  padding-right: 8px;
}

.game-button {
  background-color: #ffae00;
  border: none;
  padding: 5px;
  font-size: 16px;
  width: 60px;
  border-radius: 1rem;
  color: #080707;
  box-shadow: 0 0.4rem #430505;
  cursor: pointer;
}
 
 .game-button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
 }
 
 .game-button:hover:not(:disabled) {
  background: rgb(224, 43, 43);
  color: white;
 }
 
 .game-button:disabled {
  cursor: auto;
  color: grey;
 }

 .d-none {
  display: none;
 }

 .height{
  height: 480px;
 }

 /* From Uiverse.io by cssbuttons-io */ 
.screen-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.screen-button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.screen-button:active {
  transform: translateY(-1px);
}

@media only screen and (max-width: 720px) {
  canvas{
    width: 100%;
  }
  .menu-buttons{
    width: 100%;
    height: auto;
    aspect-ratio: 6 / 4;
  }
}

@media only screen and (max-height: 480px) {
  canvas{
    height: 100vh;
  }
  h1{
    display: none;
  }
}



