body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-image: url('img/5_background/desert-5112222_1920.png');
  background-position: center;
  font-family: "Danfo", serif;
  font-weight: 400;
  font-style: normal;

}

.start-screen-container{
    position: absolute;
    width: 720px;
    height: 480px;
    background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
    background-position: center;
    background-size: cover;
    display: flex;
}

canvas {
  background-color: black;
  display: block;
}

h1 {
  font-size: 40px;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 460px;
  gap: 26px;
  z-index: 99;
}

.aktion-buttons {
  width: 720px;
  display: flex;
  justify-content: space-between;
  margin-top: -36px;
}

.aktion-buttons-container{
  display: flex;
  gap: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px;
  font-size: 16px;
  width: 60px;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
 }
 
 button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
 }
 
 button:hover:not(:disabled) {
  background: lightcoral;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
 }
 
 button:disabled {
  cursor: auto;
  color: grey;
 }

 .d-none {
  display: none;
 }

@media only screen and (max-width: 720px) {
  canvas{
    width: 100%;
  }
  .aktion-buttons{
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas{
    height: 100vh;
  }
  h1{
    display: none;
  }
}



